.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-page * {
  margin: 1rem;
}

.cart-items {
  background-color: white;
  border-radius: 0.625rem;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.0625rem solid black;
}

.cart-item * {
  margin: 1rem;
}

.total {
  font-size: 2rem;
}
.purchase-button:hover {
  color: green;
}
.cart-button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 43.75rem) {
  .cart-button-group {
    flex-direction: row;
  }
  .cart-button-group button {
    width: 15rem;
  }
  .cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cart-item h3 {
    text-align: center;
  }
  .remove-button {
    grid-column: 1/3;
  }

  .remove-button:hover {
    cursor: pointer;
  }
}
