.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}
.card-image {
  width: clamp(10rem, 2rem + 50vw, 20rem);
  height: auto;
  align-self: center;
}

/* @media (min-width: 43.75rem) {
  .card {
    height: 80vh;
  }
} */
