nav {
  display: flex;
  background-color: #ffffff;
  color: var(--main-color);
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar li {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  transition: all 0.2s;
}

.navbar li:hover {
  transform: translateY(-0.1rem);
}

.active {
  border-bottom: 0.0625rem solid var(--main-color);
  animation: fade-in-border 1s;
}

@media (min-width: 43.75rem) {
  nav {
    background-color: transparent;
    position: fixed;
    padding: 0.5rem;
    position: relative;
  }
  .navbar {
    justify-content: end;
  }
  .navbar li {
    font-size: 2.5rem;
  }
}

/* need this max media query so that the header changes colors appropriately based on mobile and desktop versions. */
@media (max-width: 43.75rem) {
  nav {
    background-color: white !important;
    position: sticky !important;
  }
}
