.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.title {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.25rem;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 43.75rem) {
  .title {
    text-align: start;
    margin-left: 2rem;
    font-size: 4rem;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
